
body {
    background-color: F2F2F2;
    color: black;
    font-family: "Roboto";
    margin-left: auto;
    margin-left: auto;
}

button {
    color: white;
    border: 0px solid;
}
.container{
    width: 450px;
    margin: 0 auto;
    height: 1000px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 

h1 {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

#login_image {
    width: 212px;
    height: 212px;
    left: 76px;
    top: 33px;
}

#login_email {
    background: #FFFFFF;
    border: 1px solid #1A4F8B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

#contact_icon {
    margin-left: 5%;
    margin-top:2%;
    width:7.5%;
    height: 30px;
  
}

#login_email p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1A4F8B;
    width: 274px;
    height: 19px;
    margin-left: 19%;
    margin-top: -6%;
    
}

#password {
    background: #F1F1F1;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B0B0B0;
    
}

#password p {
    margin-left: 19%;
    margin-top: -6%;
}

#lock_icon {
    margin-left: 5%;
    margin-top:2%;
    width:7.5%;
    height: 30px;
}

h2 {
    margin-right: 5%;
    margin-top: 2.5%;
    top: 61.21%;
    bottom: 36.33%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #666666;
}

#socials {
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B0B0B0;
    text-align: center;
}


.login_button  {
    background: #1A4F8B;
    border-radius: 8px;
    color:white;
    margin-left: 5%;
    margin-right: auto;
    width: 90%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#social_buttons {
    margin-left: 10% ;
    width: 90%;

}

#google_button {
    background: #F14436;
    border-radius: 5px;
    width: 45%;
    height: 40px;
}

#facebook_button {
    background: #385C8E;
    border-radius: 5px;
    width: 45%;
    height: 40px;   
}



/* Forgot password page*/


.forgot_image {
margin-right: auto;
margin-left: auto;
width: 212px;
height: 212px;
}

h3 {
    
left: 4.27%;
right: 4.27%;
top: 39.04%;
bottom: 55.79%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #000000;
}

#forgot_email {
margin-top:10%;
width: 90%;
background: #FFFFFF;
border: 1px solid #1A4F8B;
border-radius: 5px;
height: 50px;
margin-right: auto;
margin-left: auto;
}

#forgot_email p {
margin-left: 13%;
margin-top:-6%;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #1A4F8B;
}



#already_have {
margin-top:90%;
font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #B0B0B0;
}

a {
    color: #1A4F8B;
    text-decoration: none;
}