* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
    /* box-sizing: border-box; */
}

/* Попробуй вынести все основные цвета и размеры шрифтов в переменные вверху файла и пользоваться ими. */

.container {
    /* Контейнер обычно это элемент с ограниченной шириной, margin: 0 auto; и padding: 0 npx; */
    width: 100%;
    height: 100%;
    background-color: #061211;
}

.menu ul {
    display: inline-flex;
    margin: 50px;
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    color: #D6D3C9;
}

.logo img {
    width: 200px; 
    /* Если это здесь есть, ты что-то делаешь не так */
    margin-top:-7px;
    margin-right: 48px;
}

.active {
    /* Лучше описать что это для ссылок. Для этого, соответственно, ссылкам нужно добавить классы. */
    color: #FFBD00 !important;
}

.signup-btn {
    /* Можно обойтись и без абсолюта */
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 25px;
    background-image: linear-gradient(#CF511B, #FFBD00), radial-gradient(circle at top left, #FFBD00, #CF511B);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 22px;
}

.banner {
    /* Дичь */
    width: 80%;
    height: 70%;
    top:25%;
    left:130px;
    position: absolute;
    color: #fff;
}

.app-text{
    width:50%;
    float: left;
}

.app-text h1 {
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
    color: #FFBD00;
}

.app-text p {
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
}

.app-picture {
    width: 50%;
    float: right;
}

.app-picture img {
    width: 100%;
    margin-top: -20px;
}

.play-btn {
    margin-left: 40px;
    display: inline-flex;
}

.play-btn-inner {
    /* Попробуй отцентровать иконку в круглой кнопке. 
    https://stackoverflow.com/questions/33609020/how-to-center-align-ion-icon-inside-button/33609070 */
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#CF511B, #FFBD00), radial-gradient(circle at top left, #FFBD00, #CF511B);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
}

.play-btn-inner .fa {
    padding: 18px 0;
    font-size: 18px;
    cursor: pointer;
}

small {
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #CF511B;
}

.quick-links {
    /* Убирай абсолют */
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #0A231C, #05120E);
}

.quick-links ul {
    display: inline-flex;
    margin: 30px auto;
    text-align: center;
}

.quick-links ul li{
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
}

.quick-links ul li .fa {
    font-size: 25px;
    color: #fff;
}

.quick-links ul li p {
    margin-top: 15px;
    font-size: 10px;
    color: #fff;
}

.social-icons {
    right: 72px;
    bottom: 35px;
    position: absolute;
}

.social-icons ul li {
    list-style: none;
    margin-top: 15px;
    text-align: center;
}

.social-icons ul li a{
    color: #CF511B;
    border-radius: 50%;
    border: 1px solid #CF511B;
    padding: 5px;
    display: block;
}